.buttonOutline {
    background-color: rgb(60, 16, 233);
    border: solid 1px white;
    border-radius: 16px;
    color: rgba(233, 227, 255, 1);
    cursor: pointer;
    font-size: 0.875rem;
    height: 46px;
    transition: .2s;
    width: 140px;
}

.buttonOutline:hover {
    background-color: rgba(255, 255, 255, 1);
    color: rgba(0, 0, 0, 1);
}

.buttonSolid {
    background-color: rgba(17, 4, 122, 1);
    border-radius: 70px;
    border: none;
    color: rgba(255, 255, 255, 1);
    cursor: pointer;
    height: 34px;
    width: 106px;
    
}