.container {
    background-color: rgba(255, 255, 255, 1);
    border-radius: 20px;
    height: 370px;
    padding: 20px;
    width: 350px;
}

.image {
    border-radius: 18px;
}

.contentText {
    margin:20px 0 10px 10px;
}

.contentTitle {
    font-size: 1.125rem;
    color: rgba(27, 37, 89, 1);
}

.tag {
    font-size: .875rem;
    color: rgba(163, 174, 208, 1);
    font-weight: 400;
}

.bid {
    font-weight: 700;
    color: rgba(67, 24, 255, 1);
    font-size: .875rem;
    align-self: center;
}

.contentBottom {
    display: flex;
    justify-content: space-between;
    margin: 20px 10px 20px 10px;
}