*{
    margin: 0;
    padding: 0;
}

.bgComponente1 {
    background-image: url('../assets/componente1-bg.png');
    background-repeat: no-repeat;
    border-radius: 20px;
    display: flex;
    height: 350px;
    justify-content: start;
    
}

.bgContainer {
    flex-direction: column;
    height: 450px;
    width: 1090px;
}

.titleContainer1 {
    font-size: 2.125rem;
    color: rgba(255, 255, 255, 1);
}

.textContainer1 {
    display: flex;
    flex-direction: column;
    gap: 14px;
    margin: 57px 64px;
    width: 377px;
}

.paragraphContainer1 {
    color: rgba(227, 218, 255, 1);
    font-size: 1rem;    
    line-height: 28px;
}


.btnsContainer1 {
    display: flex;
    gap: 1rem;
    margin-top: 40px;
}
